* {
    box-sizing: border-box;
}
.bg__gradient { background: rgb(0,92,70); background: linear-gradient(90deg, rgba(0,92,70,1) 0%, rgba(15,131,0,1) 35%, rgba(34,139,34,1) 100%); } 


@media(min-width:768px){
 .maximum-width{
        max-width: 900px;
margin-left: auto;
margin-right: auto;
}
}
.recycle-text{
    color: white;
}

.recycle-textt{
    padding-top: 10px;
}
.lead{
    color: white;
    font-size: 15px;
}


.img-fluid{
    max-width: 70%;
    height: auto;
}

.jumbotron {
    height: 75vh;
}

.jumbotron-inner {
   height: 100%;
align-items: center;
}

@media(min-width: 1200px) {
   .fs-2 {
      font-size: 4rem !important;
   }
}

.fs-2 {
 font-size: calc(3.325rem + .9vw) !important;
}

.lead {
 color: #fffffff2;
}
.lead .fw-bold {
    color: rgb(18,51,63);
}


@media (max-width: 500px) {  
  .icon-image {
    display: none !important;
 }

.jumbotron {
     height: 55vh;
}
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


.footer{
    margin-top: 150px;
}

