* {
    box-sizing: border-box;
}
.bg__gradient { background: rgb(0,92,70); background: linear-gradient(90deg, rgba(0,92,70,1) 0%, rgba(15,131,0,1) 35%, rgba(34,139,34,1) 100%); } 


@media(min-width:768px){
 .maximum-width{
        max-width: 900px;
margin-left: auto;
margin-right: auto;
}
}
.recycle-text{
    color: white;
}

.recycle-textt{
    padding-top: 10px;
}
.middle-image{
    margin-top: 30px;
    text-align: center;
}
.middle-image img{
    width: 50%;
    height: auto;

}
.footer{
    margin-top: 150px;
}

