* {
    box-sizing: border-box;
}
.bg__gradient { background: rgb(0,92,70); background: linear-gradient(90deg, rgba(0,92,70,1) 0%, rgba(15,131,0,1) 35%, rgba(34,139,34,1) 100%); } 


@media(min-width:768px){
 .maximum-width{
        max-width: 900px;
margin-left: auto;
margin-right: auto;
}
}
.cartsection-1{
    margin-top: 20px;
    text-align: center;
    width: 100%; 
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    padding-right: 5px;

}
.cart-image img{
    width: 10%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cart-text p{
   margin-top: 20px;
   margin-bottom: 20px;
}
.cart-btn button{
    width: 25%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(0,92,70,1) ;
    color: white;
}
@media(max-width:768px){
    .cart-btn button{
           width: 170px;
}
}
.cartsection-2{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.cartsection-2-inner {
    display: inline-flex;
    overflow: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
   }

.cartsection-2-inner div{
    margin-right: 0.2rem;
}
  
.cartsection-2-inner div:not(:nth-child(3n)) {
    margin-right: 0.2rem;
}
  
.cartsection-2{
    color: rgb(18,51,63) !important;
}

.mr-2 {
    margin-right: 0.5rem;
}
.footer{
    margin-top: 150px;
}

