* {
    box-sizing: border-box;
}

.container{
    padding-top: 30px;
    padding-bottom: 50px;
}
.recycle-text{
    color: white;
}

.recycle-textt{
    padding-top: 20px;
}
.lead{
    color: white;
    font-size: 18px;
}

.icon-image{
    text-align: center;
}

.img-fluid{
    max-width: 50%;
    height: auto;
}

.footer{
    margin-top: 150px;
}
