* {
    box-sizing: border-box;
}
.bg__gradient { background: rgb(0,92,70); background: linear-gradient(90deg, rgba(0,92,70,1) 0%, rgba(15,131,0,1) 35%, rgba(34,139,34,1) 100%); } 


@media(min-width:768px){
 .maximum-width{
        max-width: 900px;
margin-left: auto;
margin-right: auto;
}
}

.container{
    padding-top: 20px;
    padding-bottom: 40px;
}
.recycle-text{
    color: white;
}

.recycle-textt{
    padding-top: 10px;
}
.lead{
    color: white;
    font-size: 15px;
}

.icon-image{
    text-align: center;
}

.img-fluid{
    /* max-width: 50%; */
    height: auto;
}

/* .section-2{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    
} */

/* .firstcard{
    max-width: 50%;
    width: 50%;
    height: 300px;  
    
}   */

/* .card-img-top{
    width: auto;
} */

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.section-2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
}
.section-3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
}

.footer{
    margin-top: 150px;
}
